.container-uno {
    display: flex;
    margin: 100px 80px 0px 80px;
    padding: 0px 12px 0px 12px;
    justify-content: center;
}


.container-propio {
    /*     margin-top: 140px; */
    background-color: rgba(0, 0, 0, 0.494);
    min-width: 500px;
    max-width: 500px;
    height: 300px;
    justify-content: center;
    /* align-items: center; */
    text-align: center;

}

.texto-desafio {
    margin-top: 10px;
    color: white;
}

.texto-boton {
    color: white;
    font-size: 20px;
}

.boton-dark {
    bottom: 0;
    margin-top: 120px;
}